<nb-layout header="Cadastrar Usuários" fixed>
  <nb-layout-column class="layout-column-centered"> <nb-card class="card-center">
      <nb-card-header>
        <img class="img-usuario" src="assets/img/cadastrarusuario.png" alt="Cadastrar Usuários">
      </nb-card-header>
      <nb-card-body>
        <form>

          <nb-form-field class="form-field">
            <label for="usuarioEmail">E-mail</label>
            <div style="display: flex;">
              <input class="input-email" id="usuarioEmail" nbInput placeholder="usuario@tdmlogistica.com.br" [(ngModel)]="user.email" name="email">
              <button nbButton (click)="findByEmail()"><nb-icon icon="search"></nb-icon></button>
            </div>
          </nb-form-field>

          <nb-form-field class="form-field">
            <label for="nomeCompleto">Nome Completo</label>
            <input id="nomeCompleto" nbInput [(ngModel)]="user.name" name="nomeCompleto">
          </nb-form-field>

          <nb-form-field class="form-field">
            <label for="usuarioSenha">Senha</label>
            <input id="usuarioSenha" nbInput type="password" placeholder="Placeholder" [(ngModel)]="user.senha" name="senha">
            <nb-icon icon="sentiment_very_satisfied"></nb-icon>
          </nb-form-field>

          <nb-form-field class="form-field-perfil">
            <label for="perfil">Perfil</label>
            <nb-select multiple placeholder="Multiple Select" [(ngModel)]="user.perfis" name="perfis">
              <nb-option *ngFor="let perfil of perfis" [value]="perfil.value" >
                {{perfil.viewValue}}
              </nb-option>
            </nb-select>
          </nb-form-field>
        </form>
      </nb-card-body>
      <nb-card-footer>
        <button class="button" nbButton (click)="create()">Cadastrar Usuário</button>
        <button class="button" nbButton (click)="update()">Atualizar Usuário</button>
        <button class="button" nbButton (click)="delete()">Deletar Usuário</button>
      </nb-card-footer>
    </nb-card>
  </nb-layout-column>
</nb-layout>
